Repository IBM-Cloud/power-go-client, pull requests merged in 2025-03, with the labels that each got.

#559 [U] VSN Endpoint Descriptions, [U] Add 409 responses to several endpoints
  power/client/p_cloud_p_vm_instances/pcloud_pvminstances_capture_post_responses.go
  power/client/p_cloud_p_vm_instances/pcloud_pvminstances_console_post_responses.go
  power/client/p_cloud_p_vm_instances/pcloud_pvminstances_console_put_responses.go
  power/client/p_cloud_p_vm_instances/pcloud_pvminstances_networks_delete_responses.go
  power/client/p_cloud_p_vm_instances/pcloud_pvminstances_operations_post_responses.go
  power/client/p_cloud_p_vm_instances/pcloud_pvminstances_put_responses.go
  power/client/p_cloud_volumes/pcloud_pvminstances_volumes_put_responses.go
  power/client/p_cloud_volumes/pcloud_pvminstances_volumes_setboot_put_responses.go
  power/client/p_cloud_volumes/pcloud_v2_volumes_clone_post_responses.go
  power/client/p_cloud_volumes/pcloud_v2_volumesclone_post_responses.go
  power/models/delete_server_virtual_serial_number.go
  power/models/get_server_virtual_serial_number.go
  power/models/p_vm_instance_delete.go
Labels: generated-power-module

#560 [U] Add Routing Tables APIs
  power/client/power_iaas_api_client.go
  power/client/routes/routes_client.go
  power/client/routes/v1_routes_delete_parameters.go
  power/client/routes/v1_routes_delete_responses.go
  power/client/routes/v1_routes_get_parameters.go
  power/client/routes/v1_routes_get_responses.go
  power/client/routes/v1_routes_getall_parameters.go
  power/client/routes/v1_routes_getall_responses.go
  power/client/routes/v1_routes_post_parameters.go
  power/client/routes/v1_routes_post_responses.go
  power/client/routes/v1_routes_put_parameters.go
  power/client/routes/v1_routes_put_responses.go
  power/client/routes/v1_routes_report_get_parameters.go
  power/client/routes/v1_routes_report_get_responses.go
  power/models/route.go
  power/models/route_create.go
  power/models/route_report.go
  power/models/route_report_route.go
  power/models/route_update.go
  power/models/routes.go
Labels: generated-power-module

#550 Minor wording improvements
  clients/instance/ibm-pi-instance.go
  clients/instance/ibm-pi-network.go
  clients/instance/ibm-pi-shared-processor-pool.go
  clients/instance/ibm-pi-workspaces.go
Labels: Q2

#563 [U] RouteCreate, Route Name interface{} => *string, add 'Enabled' to RouteUpdate
  power/models/route.go
  power/models/route_create.go
  power/models/route_update.go
Labels: generated-power-module

#564 [U] Add Virtual Tier APIs, Add Software Tier field to VSN models
  power/client/p_cloud_virtual_serial_number/p_cloud_virtual_serial_number_client.go
  power/client/p_cloud_virtual_serial_number/pcloud_virtualserialnumber_softwaretiers_getall_parameters.go
  power/client/p_cloud_virtual_serial_number/pcloud_virtualserialnumber_softwaretiers_getall_responses.go
  power/models/add_server_virtual_serial_number.go
  power/models/create_server_virtual_serial_number.go
  power/models/get_server_virtual_serial_number.go
  power/models/software_tier.go
  power/models/supported_software_tier.go
  power/models/supported_software_tier_list.go
  power/models/update_server_virtual_serial_number.go
  power/models/virtual_serial_number.go
Labels: generated-power-module

#568 [U] Update Network, NetworkReference, NetworkUpdate, RouteReportRoute models
  power/models/network.go
  power/models/network_create.go
  power/models/network_reference.go
  power/models/network_update.go
  power/models/route_report_route.go
Labels: generated-power-module

#569 [U] Update Routing Tables APIs, and Snapshot APIs
  power/models/route_update.go
  power/models/snapshot_create.go
  power/models/snapshot_update.go
Labels: generated-power-module

#567 Add route functions
  clients/instance/ibm-pi-routes.go
Labels: Q3
